@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Lato');

* {
    font-family: "Lato", sans-serif;
}

#map {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#overlay {
    z-index: 3;
    background-color: #ffffff;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
}

.control {
    position: absolute;
    z-index: 2;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #ffffff;
}
.from-container a {
    display: block;
    padding: 15px 20px;
    color: #3498db;
    text-decoration: none;
    border-bottom: 1px solid #d7d7d7;
}
.from-container a:hover {
    color: #2980b9;
}
.to-container a {
    display: block;
    padding: 15px 20px;
    color: #3498db;
    text-decoration: none;
    border-bottom: 1px solid #d7d7d7;
}
.to-container a:hover {
    color: #2980b9;
}
.from-container i {
    color: #000000;
}
.to-container i {
    color: #000000;
}
.brand-container svg {
    width: 50px;
    height: 50px;
    display: inline-block;
    padding: 10px 20px;
    float: left;
}
.brand-container .brand-text {
    display: inline-block;
    float: left;
    width: 70%;
}
.brand-container .brand-text h4 {
    margin: 7px 0;
}
.brand-container .brand-text p {
    margin: 0 0 7px 0;
}

#loc-container {
    position: absolute;
    background-color: #ffffff;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    display: none;
}

#loc-container input {
    border: 0;
    outline: 0;
    padding: 15px 0;
    width: 90%;
}
#loc-container i {
    padding: 0 20px;
}
#loc-container .from-input-container {
    border-bottom: 1px solid #d7d7d7;
}

#pointOverlay {
    position: absolute;
    left: 50%;
    top: 40%;
    bottom: 50%;
    display: none;
}
#pointOverlay i {
    font-size: 100px;
    margin-left: -30px;
}

#confirm-container {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    display: none;
    text-align: center;
    padding: 20px;
}

#confirm, #cancel {
    padding: 20px 150px;
    background-color: #222222;
    color: #ffffff;
    font-size: 30px;
    border: 0;
    outline: 0;
    cursor: pointer;
}

#loading-overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 3;
    background-color: #ffffff;
    text-align: center;
    display: none;
}
#driver-found {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
    z-index: 3;
    background-color: #ffffff;
    display: none;
}
#driver-found .rate .active {
    color: #f1c40f;
}